*{
    margin: 0;
    padding: 0;
}

#navbar{
    width: 100%;
    height: 10%;
}

#navbar li{
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
}

#navbar li a{
    text-decoration: none;
    color: coral;
}